@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 14px;
}

button {
    width: auto;
    height: auto;
    padding: 10px;
    border: none;
    outline: none;
    font-weight: 700;
}

button.x {
    padding: 0;
}

#app {
    margin: 50px 0 0 0;
}

.app__container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, label {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

h1 {
    margin-left: 15px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

h2 {
    margin-bottom: 1em;
}

h3, label {
    font-size: 12px;
    font-weight: 400;
    color: grey;
}

p {
    line-height: 1.2em;
}

input {
    width: 100%;
}

.buttons__container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
}

.cards__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85vw;
}

.card {
    background-color: rgb(255, 252, 246);
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    width: 330px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.1);
}

.submitted {
    opacity: 0.3;
}

.creator {
    background-color: rgb(218, 218, 218);
}

.card:hover {
    transform: translate(0, -2px);
    box-shadow: 4px 5px 8px rgba(0,0,0,0.1);
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
}

.row span {
    margin-left: 1em;
    margin-right: 1em;
}

.delete__button {
    font-size: 10px;
    color: red;
    border: none;
    outline: none;
    width: 2em;
    height: auto;
    align-self: flex-end;
    padding: 0;
    background-color: rgb(255, 252, 246);
}

button:hover {
    transform: scale(1.1);
}

.row span.tag {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    color: grey;
    font-size: 10px;
    margin-bottom: 1em;
    margin-left: 0;
}

.row span.difficulty {
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 5px;
    color: lightblue;
    font-size: 10px;
    margin-bottom: 1em;
    margin-left: 0;
}

